/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #fec11ac1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #262626;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  margin-bottom: 30px;
}
a{
  color: black;
}
/* Card content styles */


/* Card image styles */
.card-image {
  margin: 20px;
}

.card-image img {
  width: 175px;
  height: 50px;
}

/* Form container styles */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input[type="text"],
form input[type="password"] {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #000000;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;

}

form input[type="submit"]:hover {
  background-color: #fec11a;
}
