{% extends 'users/base.html' %}
{% load mathfilters %}
{% block content %}
<h1>Checkout</h1>
<table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Delivery Day</th>
      </tr>
    </thead>
    <tbody>
        {% for bag_item in bag_items %}
        <tr>
            <td>{{ bag_item.menu_item.name }}</td>
            <td><img src="{{ bag_item.menu_item.image.url }}" alt="{{ bag_item.menu_item.name }}" width="100px" height="100px"></td>
            <td>{{ bag_item.quantity }}</td>
            <td>₹{{ bag_item.menu_item.price }}</td>
            <td>₹{{ bag_item.menu_item.price|floatformat:2|mul:bag_item.quantity }}</td>
            <td>
                <select >
                    <option value="none" selected disabled hidden>Delivary Day</option>
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
