{% extends 'users/base.html' %}
{% load mathfilters %}
{% block content %}
<h1>Checkout</h1>
<table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      
      </tr>
    </thead>
    <tbody>
        {% for bag_item in bag_items %}
        <tr>
            <td>{{ bag_item.menu_item.name }}</td>
            <td><img src="{{ bag_item.menu_item.image.url }}" alt="{{ bag_item.menu_item.name }}" width="100px" height="100px"></td>
            <td>{{ bag_item.quantity }}</td>
            <td>₹{{ bag_item.menu_item.price }}</td>
            <td>₹{{ bag_item.menu_item.price|floatformat:2|mul:bag_item.quantity }}</td>
            <td><button >Remove</button></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
