{% extends "users/base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static '/users/css/form_style.css' %}">
<style>
  .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  background-color: #ffffff6c;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}
</style>
<div class="container">
  <div class="card-content">
    <h1> FreshBaskets</h1>
    <div class="form-container">
      <h2>Login</h2>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
          <input type="text" placeholder="Phone number" name="mobile" id="mobile"><br>
          <div id="mobile-error" class="mobile-error" style="color: red; font-size: 14px;"></div>
        </div>
        <div>

          <input type="password" placeholder="Password" name="password" id="password"><br>
          <div id="password-error" class="password-error" style="color: red; font-size: 14px;"></div>
        </div>
        <br>
        <div>
          <a href="{% url 'signup' %}">New user? Create you account here!</a>
        </div>
        <br>
        <div>
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const mobileInput = document.getElementById('mobile');
const passwordInput = document.getElementById('password');
const mobileError = document.getElementById('mobile-error');
const passwordError = document.getElementById('password-error');
mobileInput.addEventListener('blur', () => {
  const mobileValue = mobileInput.value.trim();
  if (mobileValue.startsWith('+91')) {
    mobileError.textContent = 'Mobile number should not start with +91';
  } else if (mobileValue.length !== 10) {
    mobileError.textContent = 'Mobile number should be 10 digits long';
  } else {
    mobileError.textContent = '';
  }
});
passwordInput.addEventListener('blur', () => {
  const passwordValue = passwordInput.value.trim();
  if (passwordValue.length < 6) {
    passwordError.textContent = 'Password should be at least 6 characters long';
  } else {
    passwordError.textContent = '';
  }
});
document.querySelector('form').addEventListener('submit', (event) => {
  const mobileValue = mobileInput.value.trim();
  const passwordValue = passwordInput.value.trim();
  if (mobileValue === '') {
    mobileError.textContent = 'Mobile number should not be empty';
    event.preventDefault();
  }
  if (passwordValue === '') {
    passwordError.textContent = 'Password should not be empty';
    event.preventDefault();
  }
});
</script>
{% endblock %}  