{% extends "users/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/users/css/menu_style.css' %}">
<div class="container">
  <div class="row">
    <div class="filter">
      <h4 class="filter__heading">Filter by category:</h4>
      <ul class="filter__list">
        <li class="filter__item {% if not category %}active{% endif %}">
          <a href="{% url 'menu' %}" class="filter__link">All</a>
        </li>
        {% for c in categories %}
          <li class="filter__item {% if category == c.name %}active{% endif %}">
            <a href="?category={{ c.name }}" class="filter__link">{{ c.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <form method="get" action="{% url 'menu' %}" class="filter__form">
        <div class="input-group">
          <input type="text" name="query"  class="form-control filter__search-input" placeholder="Search item...">
          <div class="input-group-append">
            <span class="input-group-text filter__search-icon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </form>
      
      <a href="{% url "bag" %}" >Checkout Bag</a>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for item in items %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card {% if item.available == 0 %}out-of-stock{% endif %}">
        <div class="d-flex align-items-center justify-content-center" style="height: 10rem; position: relative;">
          {% if item.image %}
          <img src="{{ item.image.url }}"  alt="{{ item.name }}" style="width: 5rem; height: 4rem; object-fit: cover;">
          {% endif %}
          <div class="ml-3">
            <h5 class="card-title" style="font-size: 1.3rem; font-family: 'Pacifico', cursive;">{{ item.name }}</h5>
            <p class="card-text" style="font-size: 0.8rem; font-family: 'Montserrat', sans-serif;">
              Making time: {{ item.description }}<br>
              Rating: {{ item.rating }}<br>
            </p>
            <div class="price-container">
              <p class="price">₹{{ item.price }}</p>
            </div>
          </div>
          <form method="POST" action="{% url 'add_to_bag' %}">
            {% csrf_token %}
            <div class="input-group">
              <input type="number" name="quantity" min="1" max="10" class="form-control" placeholder="{{item.quantity_type}}">
              <input type="hidden" name="item_id" value="{{ item.name }}">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Add to Bag</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col">
      <p>No menu items yet.</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
