{% extends 'users/base.html' %}
{% load mathfilters %}

{% block content %}

<style>
  .form-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 70%;
    margin-right: 10px;
    float: left;
  }

  /* Style for the form input fields */
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Style for the form submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Style for the form label */
  label {
    font-weight: bold;
  }

  .menu {
    margin: 20px 0;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 2px solid #000;
    float: left;
  }

  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #FFD600;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  tr:hover {
    background-color: #000000;
    color: #FFD600;
  }

  .container{
    text-align: center;
    overflow: auto;
  }


</style>
<div class="container">
<h1>Order Review</h1>

  <div class="menu">
    {% if m_items %}
      <h2>Monday</h2>
      <table>
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Item quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in m_items %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price | floatformat:2}}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2">Total price : </td>
            <td>{{m_price | floatformat:2}}</td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <p>No items selected for Monday</p>
    {% endif %}
    </div>

    <div class="menu">
        {% if t_items %}
          <h2>Tuesday</h2>
          <table>
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in t_items %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price | floatformat:2}}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="2">Total price : </td>
                <td>{{t_price | floatformat:2}}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>No items selected for Tuesday</p>
        {% endif %}
      </div>

      <div class="menu">
        {% if w_items %}
          <h2>Wednesday</h2>
          <table>
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in w_items %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price | floatformat:2}}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="2">Total price : </td>
                <td>{{w_price | floatformat:2}}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>No items selected for Wednesday</p>
        {% endif %}
      </div>

      <div class="menu">
        {% if th_items %}
          <h2>Thursday</h2>
          <table>
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in th_items %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price | floatformat:2}}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="2">Total price : </td>
                <td>{{th_price | floatformat:2}}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>No items selected for thursday</p>
        {% endif %}
      </div>

      <div class="menu">
        {% if f_items %}
          <h2>Friday</h2>
          <table>
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in f_items %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price | floatformat:2}}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="2">Total price : </td>
                <td>{{f_price | floatformat:2}}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>No items selected for friday</p>
        {% endif %}
      </div>

      <div class="menu">
        {% if s_items %}
          <h2>Saturday</h2>
          <table>
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in s_items %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price | floatformat:2}}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="2">Total price : </td>
                <td>{{s_price | floatformat:2}}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <p>No items selected for saturday</p>
        {% endif %}
        <h1>Total price to be paid : {{tot_price}}</h1>
      </div>




  
<button id="rzp-button1">Pay</button>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_FOQ1egNAlDEuhn", // Enter the Key ID generated from the Dashboard
    "amount": "{{amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{razorpay_order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>


{% endblock %}
